<!DOCTYPE html>

<head>
  <title>{% block title %}{% endblock %} - User App</title>
  <!-- prettier-ignore-start -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <!-- prettier-ignore -->
  <link rel="apple-touch-icon" sizes="180x180" href="static//apple-touch-icon.png" />
  <!-- prettier-ignore -->
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png" />
  <!-- prettier-ignore -->
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png" />
  <link rel="manifest" href="/static/site.webmanifest" />
</head>

<body>
  <nav>
    <a href="{{ url_for('index') }}">
      <div class="navtitle">
        <h1>User App</h1>
      </div>
    </a>
    <div class="navigation">
      <ul class="navl">
        <a href="http://127.0.0.1:5001"><li>Sample App</li></a>
      </ul>
      <ul class="navr">
        {% if username %}
        <a href="{{ url_for('user') }}"><li>{{username}}</li></a>
        <a href="{{ url_for('logout') }}"><li>Log Out</li></a>
        {% else %}
        <a href="{{ url_for('register_route') }}"><li>Register</li></a>
        <a href="{{ url_for('login_route') }}"><li>Log In</li></a>
        {% endif %}
      </ul>
    </div>
  </nav>
  <section class="content">
    <header>{% block header %}{% endblock %}</header>
    {% block content %}{% endblock %}
  </section>
</body>
