::root {
  --bg1: #feba66;
}

body {
  background-color: #464646;
  color: #feba66;
  font-family: sans-serif;
  margin: 1em;
  padding: 0;
}

a {
  color: #feba66;
  text-decoration: none;
}

nav {
  display: flex;
  white-space: nowrap;
  padding: 0em 1em;
  margin: 0;
}

.navigation {
  display: flex;
  align-items: center;
  width: 100%;
}

.navl,
.navr {
  display: flex;
  width: 100%;
  list-style-type: none;
  column-gap: 0.5em;
  align-items: center;
}

.navl {
  justify-content: flex-start;
}

.navr {
  justify-content: flex-end;
}

.navl li,
.navr li {
  padding: 0.5em;
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.4em;
}
